<section class="container mt-3">
    <h2>Formulario Template</h2>
    <hr>
    <div>
        <form action="" novalidate="true" #miFormulario="ngForm" (ngSubmit)="getDataForm(miFormulario)">
            <div>
                <label for="nombre" class="form-label mt-3">Nombre</label>
                <input class ="form-control" type="text" id="nombre" placeholder="Introduce tu nombre" name="nombre" ngModel>
            </div>
            <div>
                <label for="email" class="form-label mt-3">Email</label>
                <input class ="form-control" type="text" id="email" placeholder="Introduce tu email" name="email" ngModel>
            </div>
            <div>
                <label for="edad" class="form-label mt-3">Edad</label>
                <input class ="form-control" type="number" id="edad" placeholder="Introduce tu edad" name="edad" ngModel>
            </div>

            <div>
                <label for="cargo" class="form-label mt-3">Cargo</label>
                <select id="cargo" class="form-select" name="cargo" ngModel>
                    <option value="" selected>Seleciona un cargo</option>
                    <option value="Developer">Desarrollador</option>
                    <option value="SEO">SEO</option>
                    <option value="Marketing">Marketing</option>
                </select>
            </div>
            <input type="submit" value="Enviar" class="btn btn-danger mt-3">
        </form>
    </div>
</section>

<hr>
<section class="container mt-3">
<h2>Lista de participantes</h2>
@for (item of arrData; track $index) {
    <div class="container mt-3  mb-5 cardAsistente">
        <p class="mt-3"> <strong>Nombre: </strong> {{item.nombre}}</p> 
        <p><strong>Edad: </strong>{{item.edad}}</p>
        <p><strong>Email: </strong> {{item.email}}</p>
        <p><strong>Cargo: </strong> {{item.cargo}}</p>       
    </div>

}
@empty {
    <h3>No hay elementos</h3>
}
</section>
